.anh_bia{
    background: url(https://via.placeholder.com/950x350);
    height: 370px;
    width: 950px;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.anhdaidien{
    border-radius: 50%;
    border: 10px solid white;
    display: inline-block;
}
.emty{
    height: 245px;
    width: 245px;
}
.o-item{
    background: url(/images/z.png);
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
}
.o-item-empty{
    
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
}
.o-item-final{
    background:url(/images/yy.png);
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    
    
    
}