.o-item{
    background: url(/images/z.png);
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
}
.o-item-final{
    background:url(/images/yy.png),url(/images/z.png);
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
    
}