.navbar
{
    background-color: rgba(44, 124, 120, 0.9) !important;
    box-shadow: 2px 2px 5px grey;
}
.discuss{
    background-color: rgb(66, 155, 151);
    border-color: white;
}
.discuss:hover{
    background-color: rgb(44, 124, 120);
    border-color: white;
}
.actived 
{
    background-color: rgb(44, 124, 120) !important;
    border-color: rgb(44, 124, 120)!important;
}
.card{
    background-color: rgb(222, 236, 236);
    transition: 0.3s;
}
.card:hover{
    transition: 0.3s;
    background-color: rgb(76, 143, 139) !important;
}
.btn-facebook{
    
    color:rgb(  59, 89, 152)!important;
}
.btn-facebook:hover{
    color:  rgb(  52, 78, 134) !important;
}
.btn-google{
    color: rgb(197, 0, 0) !important;
}
.btn-google:hover{
    color:rgb(194, 0, 0) !important;
}
.btn-github{
     
    color: rgb(34, 33, 33) !important;
}
.btn-github:hover{
       color: rgb(19, 19, 19) !important;
}

.pagination a
{
    color:black !important;
}
.page-item.active .page-link {
    background-color: rgb(44, 124, 120) !important;
    border-color: rgb(44, 124, 120)!important;
}
.top-left-nav{
    width: 150px;
}
.control-user:hover
{
    background-color: rgb(44, 124, 120) !important; 
}
.control-user
{
    background-color: rgba(83, 158, 154, 0.9) !important;
}
.text-white
{
    color: white;
}
.post-author {
    display: flex;
    align-items: center;
}
.avatar--lg{
    
        width: 45px;
        height: 45px;
    
}
.avatar--sm{
    width: 30px;
    height: 30px;
}
.mr-05
{
    margin-right: .5rem!important;
}
.post-author__info{
    line-height: 24px;
}
.post-meta{
    flex: 1;
}
.content-body
{
    font-size:18px;
}
.comment-thread .comment-form {
    padding: 5px 15px;
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.comment-form__write {
    display: flex;
    margin: 8px 0 14px;
}
.editor {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.editor textarea {
    padding: 8px 2.2rem 30px 8px;
    width: 100%;
    resize: none;
    outline: none;
    min-height: 120px;
    vertical-align: top;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    transition: border-color .1s ease-in;
    overflow: hidden!important;
}
.comment-reply
{
    margin-left: 5%;
    margin-right: 2%;
}
.ad{
    width: 100%;
}
#searchForm{
    width:200px;
    transition: 0.3s;
}
#searchForm:hover{
    width:400px;
    transition: 0.3s;
}